body {
  background: linear-gradient(
    109.6deg,
    rgb(255, 221, 225) 11.2%,
    rgb(255, 255, 255) 92.2%
  );
  font-family: "Poppins", sans-serif;
  padding: 40px 10px;
  font-weight: normal;
  line-height: 2px;
  color: #534859;
  .Hello {
   font-size: 28px;
  }
  .bold {
   font-weight: bold;
  }
  h1{
  font-size: 45px;
  }
}
h2{
font-family: "Caveat", cursive;
color: rgba(253, 126, 185);
font-size: 40px;
font-weight: bold;
}
h1,
h3,
h4 {
 font-family: "Playfair Display", serif;
}
h1 {
 padding: 8px;
 line-height: 55px;
}
.heading {
 text-align: center;
 margin: 20px;
 padding-bottom: 30px;
}
p {
 line-height: 1.5;
}

li{
 list-style: none;
}
.first-list {
 display: flex;
 justify-content: space-evenly;
 line-height: 3.5;
padding: 0px;
}
.second-list {
 display: flex;
 justify-content: space-evenly;
 line-height: 3.5;
 padding: 0px;
 position: relative;
 right:35px;
}
.ms{
 position: relative;
 top:50px;
}
.contact-me{
  text-align: center;
  margin: 10px;
  padding-bottom:90px;
}
.btn-branding {
  margin-top: 45px;
  padding: 20px;
  border-radius: 4px;
  background: var(--background-color);
  color: beige;
  border: 1px solid var(--background-color);
}
.btn-branding:hover {
  color: var(--background-color);
  background-color: var(--color);
  border: 1px solid var(--color);
}
.btn-primary {
  margin-left: 65px;
  padding: 10px;
  border-radius: 4px;
  background: var(--background-color);
  color: beige;
  text-align: center;
  border: 1px solid var(--background-color);
}
.btn-primary:hover {
  color: var(--background-color);
  background-color: var(--color);
  border: 1px solid var(--color);
}
.btn-branding-outline {
  margin: 55px 0px 55px;
  padding: 10px;
  border-radius: 4px;
  background: var(--background-color);
  color: beige;
  border: 1px solid var(--background-color);
}
.btn-branding-outline:hover {
  color: var(--background-color);
  background-color: var(--color);
  border: 1px solid var(--color);
}
.launch-project{
  margin: 55px 140px 55px;
  padding: 10px;
  border-radius: 4px;
  background: var(--background-color);
  color: beige;
  border: 1px solid var(--background-color);
}
.launch-project:hover {
  color: var(--background-color);
  background-color: var(--color);
  border: 1px solid var(--color);
}
.work-inquiry{
 font-size: 45px;
 margin-left: 95px;
}
.lets-work{
  font-size: 30px;
  margin-left: 95px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.picture {
  margin-left: 40px;
  padding: 50px;
}

.image {
  filter: grayscale(100%);
  max-width: 400px;
  height: auto;
  box-shadow: 4px 4px 10px 0px rgba(255, 196, 163, 0.8);
  border-radius: 25px;
}
.myskills{
  max-width: 400px;
  height: auto;
  box-shadow: 4px 4px 10px 0px rgba(255, 196, 163, 0.8);
  border-radius: 25px;
  margin: 80px 0px 70px 130px;
}
.cards {
  margin: 30px 0px 40px 0px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/555/original/pearly.jpg?1705863818");
  border-radius: 10px;
  border: 2px solid rgba(255, 196, 163);
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
  background-repeat: no-repeat;
  background-size: 1600px 950px;
  padding: 30px 30px 30px 90px;
}
.new {
  background-image: none;
  border: none;
  padding-bottom: 60px;
}
.card-text {
  line-height: 15px;
  color: rgb(79, 76, 76);
  font-weight: lighter;
}
.card-title {
  font-weight: bold;
  color: rgb(79, 76, 76);
}
.who{
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/012/original/background_about_us.jpg?1706635953");
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid rgba(255, 196, 163);
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
  background-repeat: no-repeat;
  background-size: 1400px 950px;
  padding-bottom: 30px;
  text-align: center;
  }
  .list {
  text-align: center;
  margin: 40px 0px 40px;
  }
  .whole-list{
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/012/original/background_about_us.jpg?1706635953");
  border-radius: 10px;
  border: 2px solid rgba(255, 196, 163);
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
  background-repeat: no-repeat;
  background-size: 1400px 950px;
  padding-bottom: 30px;
  text-align: center;
  }
  .web-designer {
   color: rgba(253, 126, 185);
  }
  .marketer{
   color: rgba(253, 126, 185);
  }
  .md{
   line-height: 1.5;
  }
.skills{
  text-align: center;
  margin: 80px 0px 40px;
  line-height: 2;
}
.work{
  text-align: center;
}
.slider{
  position: relative;
  left:300px;
  margin-top: 90px;
}
.contact-page-body{
  padding:0px;
  margin-bottom: 60px;
}
.contact-images{
display: block;
margin:0 auto;
}
.contact-details{
text-align: center;
}
.contact-page-image{
 padding: 0px;
 display: block;
 margin: 0 auto;
 max-height: 200px;
border-radius: 30px;
border:2px solid #f6d1d1;
margin-top: 90px;
margin-bottom: 90px;
}
.contact{
  border-radius: 10px;
  border: 2px solid rgba(255, 196, 163);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  display: block;
  margin: 0 auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/113/012/original/background_about_us.jpg?1706635953");
  background-repeat: no-repeat;
  background-size: 3000px;
  padding: 25px;
}
.contact:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-image: none;
  background-color: rgba(198, 195, 208, 0.3);
  border-color:   rgba(198, 195, 208, 0.3);
}
.get-in-touch{
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
}
.contact-box {
    background-color: #f6d1d1;
    padding: 20px 40px;
    border-radius: 40px;
    margin: 45px 15px 30px 40px;
}
.nav-name{
  font-size: 30px;
  text-decoration: none;
  color: rgba(253, 126, 185);
}
ul{
padding: 0px;
margin:0px;
}
nav li{
  display: inline;
  margin-left: 15px;
  line-height: 30px;
}
nav{
  padding: 20px 20px;
  background-color: #f6d1d1;
  display: inline;
}
 nav a{
  text-decoration: none;
  color: rgba(253, 126, 185);
  font-weight: bolder;
  transition: all 100ms ease-in-out;
 }
 nav a:hover{
 color: rgb(79, 76, 76);
 text-decoration: underline;
 cursor: pointer;
 }
 nav li:active a{
  color: beige;
 }
 .weather-app {
  max-width: 300px;
  max-height: 400px;
  display: block;
  margin-left: 250px;
  border: 2px solid var(--color);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
 }
 .contentspark{
  max-width: 300px;
  max-height: 400px;
  display: block;
  margin: 60px 0px 50px 90px;
  border: 2px solid var(--color);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
 }
 .built-with{
  color: rgba(253, 126, 185);
  font-weight: bold;
 }
 .website{
  max-width: 300px;
  max-height: 400px;
  display: block;
  margin: 60px 0px 50px 90px;
  border: 2px solid var(--color);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(255, 196, 163, 0.8);
 }
:root {
  --background-color: rgba(253, 126, 185);
  --color: rgba(255, 196, 163, 0.8);
}
@media (max-width: 960px){
  .project-description {
   text-align: center;
   font-size: 12px;
  }
  h1{
    font-size: 27.2px;
  }
  p {
   font-size: 17px;
  }
  .image {
   position: relative;
  }
  .new {
   position: relative;
   left: 35px;
   padding-bottom: 20px;
  }
  .ms {
   padding-bottom: 25px;
   text-align: center;
   margin-bottom: 25px;
  }
  body{
   padding: 50px 0px;
   background-repeat: no-repeat;
  }
  .col .picture{
   padding: 0px;
  }
  .info{
   margin-top: 90px;
  }
  .picture{
   margin: 35px 0px;
   text-align: center;
  }
  .cards{
   padding: 37px;
  }
  .change{
   background-repeat: no-repeat;
  }
  .skills{
   text-align: center;
  }
  .myskills{
   margin:50px 20px 50px;
   margin-left: 35px;
  }
  .first-list{
   display: list-item;
   list-style: none;
   position: relative;
   left: -10px;
   line-height: 25px;
  }
   .second-list{
   display: list-item;
   list-style: none;
   position: relative;
   left: -15px;
   line-height: 25px;

  }
  .contact-page-image{
    width:300px;
  }
.nav-name{
font-size: 20px;
}
h2{
  font-size: 30px;
}
h1{
  font-size: 40px;
}
)
